* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b5fac7;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 1rem;
}
input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}
input[type=text] {
  background-color: #3CBC8D;
  color: white;
}

button[type=submit] {
  background-color: #3CBC8D;
  color: white;
}
button[type=submit] {
  width: 10%;
  padding: 12px 20px;
  border-radius: 10rem;
  margin: 8px 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}